; Comments start with ';', as in php.ini
; 可以使用 PHP 的 parse_ini_file 函数进行解析

[first_section]

[base_section]
; 提交到的 web 上的 yapi 服务所在的 host
host = 'http://yapi.example.com'
example_file = '/your/path/some_doc.md'

[token_section]
; 例如：员工中心业务文档项目的 token
hr_staff_center = 1xx12xaadsdaaa3
; 默认情况下使用的 token
default_token = 1xx12xaadsdaaa3
